.create-comment {
    margin-top: 2rem;
  }
  
  .create-comment label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .create-comment textarea {
    width: 97.5%;
    height: 8rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    resize: vertical;
  }
  
  .create-comment .btn.submit {
    display: block;
    margin: 0 auto;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color:  #c7a17a;
    cursor: pointer;
  }
  
  .create-comment .btn.submit:hover {
    background-color:   #a87b4e;
  }
  