/* Create Review Section */
#create-page {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #create-page h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2d2d2d;
  }
  
  #create-page form {
    max-width: 800px;
    width: 100%;
  }
  
  #create-page label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2d2d2d;
  }
  
  #create-page input[type="text"],
  #create-page textarea {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    color: #2d2d2d;
    font-size: 16px;
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  #create-page input[type="text"]::placeholder,
  #create-page textarea::placeholder {
    color: #b5b5b5;
  }
  
  #create-page input[type="submit"] {
    background-color: #e64c3c;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    margin-top: 30px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  #create-page input[type="submit"]:hover {
    background-color: #c73c2c;
  }
  
  #create-page textarea {
    height: 150px;
  }
  